*
{
    margin: 0;
    padding: 0;
}

.main-screen-wrapper
{
    background-image: url('../images/main-screen/main-screen__bgc.jpg');
    width: 100%;
    height: 960px;
}

.header
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.logo
{
    width: 40px;
    height: 40px;
}

.menu
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    margin: 40px auto auto 80px;
}

.menu_item
{
    font: 400 16px/24px 'Roboto';
    margin-left: 56px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.button
{
    width: 183px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    font: 400 16px/24px 'Roboto';
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    border-color: transparent;
    margin-left: 260px;
}